.is-active{
    background-color: white;
    border: 2px solid #23BE0A;
    color: #23BE0A;
    font-weight: 500;
}

.is-active:hover{
    background-color:  #23BE0A;
    color : white;
}

.not-active{
    background-color: white;
    font-weight: 500;
}

.not-active:hover{
    background-color: rgb(213, 207, 207);
    border: 2px solid gray;
}
